<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ds_testing_feature</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mention annotated class -->
        <!--Main classes-->
        <mapping class="ds.testingsystem.data.model.User"/>
        <mapping class="ds.testingsystem.data.model.EdGroup"/>
        <mapping class="ds.testingsystem.data.model.Test"/>
        <mapping class="ds.testingsystem.data.model.TestModule"/>
        <mapping class="ds.testingsystem.data.model.Question"/>
        <mapping class="ds.testingsystem.data.model.AnswerVariant"/>
        <!--Bean classes-->
        <mapping class="ds.testingsystem.data.model.bean.UserQuestionPoints"/>
        <mapping class="ds.testingsystem.data.model.bean.UserAnswer"/>
        <mapping class="ds.testingsystem.data.model.bean.UserTestPoints"/>
        <mapping class="ds.testingsystem.data.model.bean.TestGroupAccess"/>
    </session-factory>
</hibernate-configuration>