.menu{
    display: inline-flex;
    padding: 2px;
    width: 100%;
}
.menu button{
    margin-left: 1px;
}
.dashboard-content{
    display: block;
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
}