.menu{
    display: inline-flex;
    padding: 2px;
    width: 100%;
}
.menu button{
    margin-left: 1px;
}
.dashboard-content{
    display: block;
    margin: 2px;
    box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    padding: 5px;
    border-radius: 5px;
}
.dashboard-content-child{
    display: inline-block;
    box-shadow: inset 0 0 4px 0 rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    background-color: white;
    width: 100%;
    padding: 5px;
}
.dashboard-action-block{
    display: flex;
    justify-content: center;
}